.deal-container {
  display: flex;
  width: 50%;
}

.top-deal {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em 0;
  border-radius: 10px;
}

.other-deals {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.deal-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.8em 0;
  margin: 0.2em 0;
  border-radius: 10px;
}

.deal-button {
  color: var(--primary-red);
  text-transform: uppercase;
  padding: 0.5em;
}
